<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"/>
<head>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href=" http://fonts.googleapis.com/css?family=VT323" rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <nav>
        <title>A project</title>
        <ul class="inicio">
            <li class="logo"><a th:href="@{/moderador}"><img th:src="@{imagenes/logoEyeBackground.png}" width="88" height="70" alt="logo"></a></li>
            <li class="logo"><a th:href="@{/moderador}"><img th:src="@{imagenes/project2.png}" height="30" width="auto"></a></li>
        </ul>
        <p class="vacio"></p>
        <ul class="menu-moderador">
            <form th:action="@{/logout}" method="post">
                <li class="elementos"><a th:href="@{/sobre-nosotros}">Agregar Personaje</a></li>
                <li class="elementos"><a th:href="@{/sobre-nosotros}">Agregar Item</a></li>
                <li class="elementos"><a>|</a></li>
                <li class="elementos"> <button type="submit">Cerrar sesión</button></li>
            </form>
        </ul>
    </nav>
</header>

    <div class="cuerpo">
        <div class="ficha-elemento">
            <div class="info-elemento">
                <div class="img-ficha-elemento">
                    <img th:src="${personaje.getImagen()}" width='200' height='200'alt="personaje">
                    <p th:text="${personaje.getNombre()}"></p>
                </div>
                <div class="stats-ficha-elemento">
                    <p>Estadisticas</p>
                    <div class="estadisticas">
                    <div class="estadistica">
                        <img class="icon" th:src="@{/imagenes/estadisticas/vidaIcon.png}" width="32" height="32">
                    <div class="puntos" th:each="vida:${vidas}">
                        <img th:src="@{/imagenes/estadisticas/vidaDot.png}"  width="16">
                    </div>
                    </div>
                    <div class="estadistica">
                        <img class="icon" th:src="@{/imagenes/estadisticas/danoIcon.png}" width="32" height="32">
                        <div class="puntos" th:each="dano:${danos}">
                            <img th:src="@{/imagenes/estadisticas/danoDot.png}"  width="16">
                        </div>
                    </div>
                    <div class="estadistica">
                        <img class="icon" th:src="@{/imagenes/estadisticas/resistenciaIcon.png}" width="32" height="32">
                        <div class="puntos" th:each="armadura:${armaduras}">
                            <img th:src="@{/imagenes/estadisticas/resistenciaPunto.png}"  width="16">
                        </div>
                    </div>
                    <div class="estadistica">
                        <img class="icon" th:src="@{/imagenes/estadisticas/intelgenciaIcon.png}" width="32" height="32">
                        <div class="puntos" th:each="evasion:${evasiones}">
                            <img th:src="@{/imagenes/estadisticas/inteligenciaDot.png}"  width="16">
                        </div>
                    </div>
                        <div class="estadistica">
                            <img class="icon" th:src="@{/imagenes/estadisticas/velocidadIcon.png}" width="32" height="32">
                            <div class="puntos" th:each="velocidad:${velocidades}">
                                <img th:src="@{/imagenes/estadisticas/velocidadDot.png}"  width="16">
                            </div>
                        </div>
                        <div class="estadistica">
                            <img class="icon" th:src="@{/imagenes/estadisticas/sigiloIcon.png}" width="32" height="32">
                            <div class="puntos" th:each="sigilo:${sigilos}">
                                <img th:src="@{/imagenes/estadisticas/sigiloDot.png}"  width="16">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="descripcion-ficha">
                <h2>Descripcion</h2>
                <p th:text="${personaje.getDescripcion()}"></p>
            </div>

            <div class="seccion-comentarios">
                <div class="titulo-comentario">
                    <h1>Comentarios</h1>
                </div>
                <p class="separacion"></p>
                <div th:each="comentario:${comentarios}">
                    <form class="caja-comentarios" th:action="@{/moderador/personaje/eliminar-comentario(id= ${comentario.getId()})}" method="post" >
                        <div class="comentario">
                            <p class="nombre-usuario" th:text="${comentario.getNombre()}"></p>
                            <p class="fecha" th:text="${comentario.getFecha()}"></p>
                            <p class="texto-comentario" th:text="${comentario.getMensaje()}"></p>
                            <input type="image" class="eliminar-comentario" name="eliminarComentarioButton" alt="submit" src="/imagenes/eliminarButton.png" width="150">
                        </div>
                    </form>
                </div>
                <p class="separacion"></p>
            </div>
        </div>       
                
    </div>

    <footer>
        <ul>
            <a href="#"><img src="/imagenes/instagramIcon.png" class="socials" width='30' height='30' name='whatever'></a>
            <a href="#"><img src="/imagenes/facebookIcon.png" class="socials" width='30' height='30' name='whatever'></a>
            <a href="#"><img src="/imagenes/twitterIcon.png" class="socials" width='30' height='30' name='whatever'></a>
            <a href="#"><img src="/imagenes/youtubeIcon.png" class="socials" width='30' height='30' name='whatever'></a>
        </ul>
        <p></p>
        <input type='image' class="download" src='/imagenes/descargarIcon.png' height="40" name='whatever' value='submit' />
    </footer>

</body>
</body>
</html>