<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href=' http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="centeredLayout.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <title>A project</title>            
            <ul class="inicio">
                <li class="logo"><a href="#"><img src="imagenes/logoEyeBackground.png" wclassth='88' height='70'alt="logo"></a></li>
                <li class="logo"><a href="#">Project</a></li>
            </ul>
            <p class="vacio"></p>
            <ul class="menu">
                <li class="elementos"><a href="#">Sobre nosotros</a></li>
                <li class="elementos"><a>|</a></li>
                <li class="elementos"><a href="#">FAQ</a></li>
            </ul>
        </nav>
    </header>

   
        <div class="moderatorLogin">
            <br>
            <div class="centeredTitle">
                <h1 class="text">Inicio de sesión - moderador</h1>
            </div>
            <br>
            <div class="centeredLogin">
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <div class="purpleOutline"><input type="email" class="form-control" class="exampleInputEmail1" class="purpleOutline"></div>
                            </div>
                            <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label" class="text">Password</label>
                            <div class="purpleOutline">
                                <input type="password" class="form-control" class="exampleInputPassword1">
                            </div>
                            </div>
                            <a href="index-moderador.html"><img src="imagenes/iniciaSesion.png" wclassth='150' alt="elemento"></a>
                        </form>
                    </div>
            </div>
        </div>
</body>
</html>
