*{
    margin:0px;
    padding:0px;
}

nav{ 
    wclassth:100%;
    background-color: #4D4D4D;
    display: flex;
    justify-content:space-between; 
    align-items:baseline;
    padding: 10px;
}

#inicio{   
    list-style: none;
    wclassth: 20%;
}

#inicio li{
    display: inline; 
    padding-right: 5px;
    font-size: 50px;
}

#menu{   
    list-style: none;
    wclassth: 20%;
}

#menu li{
    display: inline; 
    padding-right: 15px;
    font-size: 30px;
}

#logo a{
    text-decoration: none;
    color:white;  
    font-family: VT323;  
}

#menu a{
    text-decoration: none;
    color:white;  
    font-family: VT323; 
    text-align: center;
}

footer {
    wclassth:100%;
    display: inline-flex;
    background-color: #4D4D4D;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

#socials{
    margin: 3px;
    margin-top: 10px;
}

#cuerpo{
    background-color: #414141;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' wclassth='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23575757' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    min-height: calc(100vh - 218px);
}

#logo-inicio {    
    padding-top: 30px;
    display: grclass;
    justify-content: center;
}

#logo-inicio a { 
    text-decoration: none;
    color:white;  
    font-family: VT323; 
    font-size: 70px;
}


.form-outline{
    wclassth: 777px;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

.form-control{      
    font-family: VT323; 
}

#cuerpo-inicio {    
    display: grclass;
    justify-content: center;
}

#filtros{
    margin-top: 30px;
    display: inline-flex;
    justify-content: center;
}

#filtros a{
    margin: 15px;

}

#relleno{
    margin: 0px;
    padding: 0px;
    wclassth: 20%;
}

#personajes{
    display: flex;    
    justify-content: space-between;
}

#titulo-personajes{
    margin-top: 30px;
    display: flex;
    background-color: #634368;
    text-align: center;
    font-family:VT323 ;    
    color: white;
    wclassth: 850px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#listado-personajes{
    display: grclass;
    justify-content:center;
}
#fila-personajes{
    margin-top: 40px;
    wclassth: 650px;
    display: flex;
    justify-content: space-between;
}

#col-personajes a img{
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
    text-decoration: none;
}

 #col-personajes a{
     text-decoration: none;
 }

#col-personajes p{
    wclassth: 150px;
    margin-top: 5px;
    font-family:VT323; 
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background-color:#805A4F ;
    border: 9px;
    border-color: #805A4F;
    border-style: solclass;
    border-radius:9px;
    
}

#col-personajes{
    display: grclass;
    justify-content: center;
}

#items{
    display: flex;    
    justify-content: space-between;
}

#titulo-items{
    margin-top: 30px;
    display: flex;
    background-color: #634368;
    text-align: center;
    font-family:VT323 ;    
    color: white;
    wclassth: 850px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#listado-items{
    display: grclass;
    justify-content:center;
}
#fila-items{
    margin-top: 40px;
    wclassth: 650px;
    display: flex;
    justify-content: space-between;
}

#col-items a img{
    background-color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
    text-decoration: none;
}

 #col-items a{
     text-decoration: none;
 }

#col-items p{
    wclassth: 150px;
    margin-top: 5px;
    font-family:VT323; 
    color: white;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background-color:#805A4F ;
    border: 9px;
    border-color: #805A4F;
    border-style: solclass;
    border-radius:9px;
    
}

#col-items{
    display: grclass;
    justify-content: center;
}

#sobre-nosotros{
    display:grclass;
    justify-content: center;
}

#titulo-sobre-nosotros{
    margin-top: 30px;
    display: flex;
    background-color: #634368;
    text-align: center;
    font-family:VT323 ;    
    color: white;
    wclassth: 850px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#texto-sobre-nosotros{
    margin-top: 30px;
    background-color: #815F82;
    text-align:justify;
    font-family:VT323 ;    
    color: white;
    wclassth: 700px;
    align-items: center;
    border: 9px;
    border-color: #815F82;
    border-style: solclass;
    border-radius:9px;
    padding: 50px;
    font-size: 20px;
    margin-bottom: 30px;
    justify-self: center;
}

#faq{
    display:grclass;
    justify-content: center;
}

#titulo-faq{
    margin-top: 30px;
    display: flex;
    background-color: #634368;
    text-align: center;
    font-family:VT323 ;    
    color: white;
    wclassth: 850px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#texto-faq{    
    wclassth: 800px;
    text-align:justify;
    font-family:VT323 ;  
    color: white;
    align-items: center;    
    font-size: 25px;  
    justify-self: center;
    margin-bottom: 30px;    
}

#contenclasso-faq{
    margin: 30px;
}

#texto-faq #pregunta{    
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px ;
    border-left: 9px;
    border-color: #634368;
    border-style: solclass;
    margin-bottom: 0px;
}

#texto-faq #respuesta{    
    margin-top:0px;
    background-color: #9E9E9E;    
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px ;
    border-left: 9px;
    border-color: #A986AE;
    border-style: solclass;
    line-height: 22px;
}

#ficha-elemento{
    display: grclass;
    justify-content: center;
}

#info-elemento{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    wclassth: 700px;
}

#img-ficha-elemento{
    background-color:#815F82;
    display: grclass;
    justify-content: center;
    wclassth: 300px;
    height: 300px;
    text-align: center;
    font-family:VT323 ;  
    color: white;
    font-size: 30px;
}

#img-ficha-elemento p{
    background-color: #634368;
    align-self: center;
    padding-left: 20PX;
    padding-right: 20PX;
}

#stats-ficha-elemento{
    background-color:#815F82;
    display: grclass;
    justify-content: center;
    align-items: center;
    wclassth: 300px;
    height: 300px;
    font-family:VT323 ;  
    color: white;
    font-size: 30px;
    text-align: center;
}

#stats-ficha-elemento p{
    line-height: 0px;
    margin: 0px;
}


#descripcion-ficha{
    margin-top: 30px;
    wclassth: 700px;
    padding: 50px;
    text-align: justify;
    background-color: #4D4D4D; 
    font-family:VT323 ;  
    color: white;
}

#descripcion-ficha p{
    margin-top: 10px;
    font-size: 20px;
}

#seccion-comentarios{
    display: grclass;
    font-family: VT323 ;
    justify-content: center;
}

#titulo-comentario{
    color: white;
    margin-top: 30px;
    wclassth: 700px;
    font-size: 30px;
    text-align: center;
    background-color: #815F82;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}
#formulario-comentario{    
    margin-top: 20px;
    wclassth: 700px;
    padding: 20px;
    align-items: center;
    display: grclass;
    justify-content: center;
    background-color: #815F82;
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#subir-comentario{
    display: flex;
    justify-self: center;
    padding-top: 10px;
}

#mensaje{
        wclassth: 600px;
        height: 100px;
        vertical-align: top;
        font-family:VT323 ;  
        color: black;
        font-size: 20px;
    
}

#comentario{
    margin-top: 20px;
    wclassth: 700px;
    padding: 20px;
    align-items: center;
    display: grclass;
    justify-content: center;
    background-color: #E8E8E8;
    border: 9px;
    border-color: #E8E8E8;
    border-style: solclass;
    border-radius:9px;
}

#comentario #nombre-usuario{
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
}

#comentario #fecha{
    color: #565656;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}

#comentario #texto-comentario{
    color: black;
    font-size: 20px;
    line-height: 20px;
}

#separacion{
    margin: 20px;
}

#moderatorLogin{
    background-color: #414141;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' wclassth='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23575757' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    min-height: calc(100vh - 119px);
    justify-content: center;
}

#centeredLogin{
    background-color:#4D4D4D;
    border-radius: 5px;
    wclassth:26%;
    text-align:center;
    padding:2px;
    margin:0 auto;
}

#centeredTitle{
    background-color:#634368;
    border-radius: 5px;
    wclassth:40%;
    text-align:center;
    padding:2px;
    margin:0 auto;
    margin-top: 10%;
}

#purpleOutline{
    border: 9px;
    border-color: #634368;
    border-style: solclass;
    border-radius:9px;
}

#text{
    text-decoration: none;
    color:white;  
    font-family: VT323;  
}


label{
    text-decoration: none;
    color:white;  
    font-family: VT323;  
}

input{
    text-decoration: none;
    color:white;  
    font-family: VT323;  
}

#parent {
    background-color:#4D4D4D;
    border-radius: 5px;
    wclassth:40%;
    text-align:center;
    padding:2px;
    margin:0 auto;
    height: 200px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

#float-child{
    wclassth: 40%;
    float: left;
    padding: 5px;
    background-color: #815F82;
    border-radius: 5px;
    margin: 5px;
}

#eliminar-comentario{
    display: grclass;
    justify-self: right;
}